body{
 
    background-color:$white;
    color: $text;
    margin: 0;
    font-family: $font-one;
    outline: 0;
    span{
        color: $white;
    }

    button{
      outline:none;
      transform: none;
    }

    :focus {
      outline: 0;
  }

  a:active,
  a:hover {
    outline: 0;
}

button,
select,
input {
    text-transform: none;
    outline: 0;
}


}

.show{
  display: block !important;
}

.hidden{
  display: none;
}

//responsive font
html {
    font-size: 1rem;
    .jumbotron{
        .subtitle{
            font-size: 8vh;
        }
    }
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.3rem;
      .jumbotron{
        .subtitle{
            font-size: 10vh;
        }
    }
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.2rem;
      .jumbotron{
        .subtitle{
            font-size: 12vh;
        }
    }
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.3rem;
.jumbotron{
    .subtitle{
        font-size: 15vh;
    }
}
  
    }
  }


  .welcome-text{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 35px;
  }




 .where-to-go{
   background: url("/images/where.jpg");
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
  
 }

 .travel-ideas{
   h4{
     margin-top: 30px;
   }
  
   h3{
    
     margin-bottom: -50px;
   }
   margin-top: 50px;
   .city{
     margin-top: 150px;
   }

   .right{
     margin-left:50px;
   }
 }

 .travel{
   margin-top: 80px;
   margin-bottom: 40px;
 }

 .go{
   padding-top: 20px;
 }

 .events{
  background: url("/images/events_bg.jpg");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 50px;
 }


 video{
  &:active{
    outline: none;
  }
  transform: none;
 }
 .btn:focus {
  outline: none;
}

.newsletter{
  input:active {
    outline: none;
    border: none;
}
}




 