
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');
@font-face {
    font-family:"Rollete";
    src: url("/font/Rollete.ttf") format("truetype");
  }

//Define colors

$white: white;
$text: #1A1A1A;
$yellow:#FEB32A;



//Define fonts
$font-one: 'Raleway', sans-serif;
$font-two: 'Rollete';